.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.mainContent {
    width: 40%;
    height: 100%;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.bottomHeader {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.searchBar {
    border: 1px solid #d1d5db;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    margin-right: 1rem;
    color: #9ca3af;
}

.filterButton {
    border: 1px solid #d1d5db;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: #9ca3af;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.h1 {
    color: rgb(74, 74, 74);
}

.addButton {
    border: none;
    background: none;
    font-weight: 800;
    color: rgb(255, 0, 131);
    cursor: pointer;
}

/*********************** MOVE TO SEPERATE COMPONENT ****************************/

.leftColumn {
    height: 100%;

}

.rightColumn {
    height: 100%;

}


.incomeExpenses {
    height: 300px;
    width: 200px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    box-shadow: rgb(0 0 0 / 16%) 0px 47px 46px -27px, rgb(0 0 0 / 6%) 0px 2px 12px 0px;
}

.income {
    width: 100%;
    flex-basis: 50%;
    border-bottom: 1px solid #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expenses{
    width: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amount {
    color: #1f2937;
    font-weight: 900;
    font-size: 1.2rem;
}