.mainContainer {
    padding: 0.75rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 47px 46px -27px, rgb(0 0 0 / 6%) 0px 2px 12px 0px;
    width: 400px;
    border-radius: 6px;
    background-color: #1f2937;
    margin-bottom: 0.1rem;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.date {
    color: #9ca3af;
    font-size: 0.75rem;
}


.user {
    color: gray;
    font-weight: 700;
    font-size: 0.75rem;
}

.middleContainer {
    display: flex;
    justify-content: space-between;
}


.address {
    color: #d1d5db;
    font-weight: 900;
    font-size: 1.2rem;
}

.amount {
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(41,223,198,255);
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}



.type {
    color: #9ca3af;
    font-size: 0.9rem;
}