.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.mainContent {
    width: 45%;
    height: 100%;
}

.header {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.partnersContainer {
    display: flex;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
}

.main {
    height: 100%;
    width: 100%;
}

.address {
    font-weight: 900;
    font-size: 2.7rem;
}

.cityStateZipContainer {
    display: flex;
    margin-bottom: 10px;
}

.cityStateZip {
    margin-right: 0.5rem;
}

.dataContainer {
    margin-bottom: 100px;
}

.dataHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.contentHeader {
    margin-top: 5px;
    margin-bottom: 20px;
}

.propertyValue {
    margin-bottom: 50px;
}


.headerSelectorContainer {
height: 2rem;
width: 100%;
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 50px;
cursor: pointer;
border-bottom: 1px solid #e5e7eb;

}

.selectorContainer {
    height: 100%;
    /* border-bottom: 2px solid black; */
}

.selectorContainer:hover {
    border-bottom: 2px solid black
}

.selectorContainer:hover p {
    color: black;
}

.selector {
    font-size: 1.1rem;
    font-weight: 900;
    color: #374151;
    /* color: #4b5563; */
}

.cardContainer {
    margin-left: 20px;
}

.deleteButton {
    padding: 1rem 3rem;
    font-weight: 900;
    border-radius: 8px;
    border: none;
    background: radial-gradient(circle at rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227,28,95), 40%, rgb(215,4,102), 57.5%, rgb(189,30,89), 75%, rgb(189,30,89), 100%);
}

